<!-- Categories -->
<h2 class="card-header"><strong>Catégories</strong></h2>
<!-- 1st row -->
<div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 fadeIn text-center" style="height: 150px">
  <!-- 1st card -->
  <div class="card-body column">
    <%= link_to image_tag('icons8-folder-100.png', alt:"icone d'un dossier"), "#" %>
      <p>Accompagnement social </p>
  </div>
  <!-- 2nd card -->
  <div class="card-body column">
    <%= link_to image_tag('icons8-ambulance-100-1.png', alt:"icone d'une ambulance"), "#" %>
      <p>Déplacements médicaux</p>
  </div>
  <!-- 3rd card -->
  <div class="card-body column">
    <%= link_to image_tag('icons8-book-reading-100.png', alt:"icone d'un livre ouvert"), "#" %>
      <p>lecture</p>
  </div>
</div>

<!-- 2nd row -->
<div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 fadeIn text-center" style="height: 150px">
  <!-- 1st card -->
  <div class="card-body column">
    <%= link_to image_tag('icons8-trash-100.png', alt:"icone d'une poubelle"), "#" %>
      <p>tâches ménagères</p>
  </div>
  <!-- 2nd card -->
  <div class="card-body column">
    <%= link_to image_tag('icons8-track-and-field-100.png', alt:"icone d'un personnage en train de courir"), "#" %>
      <p>Déplacement</p>
  </div>
  <!-- 3rd card -->
  <div class="card-body column">
    <%= link_to image_tag('icons8-hammer-100.png', alt:"icone d'un martaux"), "#" %>
      <p>petits travaux</p>
  </div>
</div>