<div class="card my-4" >
  
    <div class="card-body">
      <h5 class="card-title"><%=@ad.title%></h5>
      <h6><%=@ad.date%></h6>
      <p class="card-text">
        <%=@ad.description%>
      </p>
       <p class="card-text">
        <%=@ad.adress%>
      </p>
       <p class="card-text">
        <%=@ad.zip_code%>
      </p>
      <p class="card-text">
        <%=@ad.city%>
      </p>
       <p class="card-text">
        <%=@ad.date%>
      </p>
       <p class="card-text">
        <%=@ad.phone%>
      </p>
      <%=link_to 'voir', ad_path(@ad.id), class: 'btn-lg btn-primary-css'%>
    
       </div>
       
</div>