<div class="card my-4" >
  
    <div class="card-body">
      <h5 class="card-title"><%=@ad.title%></h5>
      <p class="card-text">
        <%=@ad.description%>
      </p>
       <p class="card-text">
        <label>Adresse: </label><br/><%=@ad.adress%>, <%=@ad.zip_code%> <%=@ad.city.capitalize %>
      </p>
    
      <p class="card-text">
       <label>Téléphone:</label> <%=@ad.phone%>
      </p>
       <p class="card-text">
       Crée le <%=@ad.date.strftime("%F")%> par <%=@ad.user.name %>
      </p>
       
      <%=link_to 'voir', ad_path(@ad.id), class: 'btn-lg btn-primary-css'%>
    
       </div>
       
</div>