
<h1 class="text-center display-3">La liste des annonces</h1>
<div class="container">
<%= render 'static_pages/searchbar_localization'%>  
<%=link_to 'Créer une annonce', new_ad_path, class: 'btn-lg btn-primary'%>
  <div class="row justify-content-center">
    <%@ads.each do |e|%>
      <div class="col-4">
        <%@ad = e%>
        <%=render partial: 'ad_card', object: @ad%>
      
      </div>
    <%end%>
  </div>
  <br>
 <div class="col-3">
 <div class="card">
 <div class="card-header">
    Catégories
    </div>
  <div class="card-body">
  <ul class=list-group>
<%= @categories.each do |category|%>      
  <li class="list-group-item d-flex justify-content-between align-items-center">
  <%= link_to category.title, ads_path(:cate => category.id) %>
  <span class="badge badge-primary badge-pill"><%= category.ads.count%></span>

  </li>
<% end %>
  </ul>
  </div>
  </div>
  </div>
</div>