<div class="jumbotron-fluid text-center jumbo jumbo-create-event">
  <div class="layer"></div>
  <h1 class="display-3">Créer une annonce </h1>
  
</div>
<div class="container mt-5" style="width: 40rem;">

  <%=form_tag url_for(ads_path), method: 'post' do%>

    <div class="form-group mt-4">
      <h3>
        <%= label_tag 'Titre'%>
      </h3>
      <%= text_field_tag 'title','', require: true, class: "form-control"%>
    </div>
    
    <div class="form-group mt-4">
      <h3>
        <%= label_tag 'Description' %>
      </h3>
      <%= text_area_tag 'description','', require: true, class: "form-control"%>
    </div>
    
    <div class="form-group mt-4">
      <h3>
        <%= label_tag 'Date' %>
      </h3>
      <%= date_field_tag 'date','', require: true, class: "form-control"%>
    </div>

    <div class="form-group mt-4">
      <h3>
        <%= label_tag 'adress' %>
      </h3>
      <%= text_field_tag 'adress','', require: true, class: "form-control"%>
    </div>

    <div class="form-group mt-4">
      <h3>
        <%= label_tag 'zip code' %>
      </h3>
      <%= text_field_tag 'zip_code','', require: true, class: "form-control"%>
    </div>

     <div class="form-group mt-4">
        <h3>
        <%= label_tag 'city' %>
      </h3>
         <%=select_tag 'city', options_for_select(city_list), class: "form-control"%>
    </div>
    <div class="form-group mt-4">
      <h3>
        <%= label_tag 'phone' %>
      </h3>
      <%= text_field_tag 'phone','', require: true, class: "form-control"%>
    </div>
    
    <%= submit_tag "Créer", class: "btn btn-primary-css mt-4"%>
    
  <%end%>

</div>