
<%@page_title = @ad.title%>

  
<div class="conte" >
<div class="container">
<div class="card my-4" >
<div class="card-body">
<%page_title = @page_title%>


     <div class="jumbo-layer"></div>
     <h1 class="display-4"><%=page_title%></h1>
     <div class="card-body">
   <p class="card-text">
     <%=@ad.description%>
   </p>
     <p class="card-text">
        <label>Adresse: </label><br/><%=@ad.adress%>, <%=@ad.zip_code%> <%=@ad.city.capitalize %>
      </p>
    
      <p class="card-text">
       <label>Téléphone:</label> <%=@ad.phone%>
      </p>
       <p class="card-text">
       Crée le <%=@ad.date.strftime("%F")%> <% if @ad.user %>par <%=@ad.user.name %><% end %>
      </p>
    <% if @distance %>
   <p class="card-text">
     Distance: <%=@distance.round(2)%> km
   </p>
   <% end %>
 </div>

 <div class="form-group d-flex">
 <% if @ad.user == current_user %>
  <%=link_to 'modifier', edit_ad_path(@ad.id), class: 'btn-lg btn-primary-css'%>
  <%=link_to 'Supprimer', ad_path(@ad.id), method: 'delete', class: "btn-lg btn-danger", style: "margin-left: 1rem;"%>
  <% end %>
 </div>
 <%= link_to user_messages_path(@ad.user) do %>
  <button class="btn btn-primary btn-margin-top">Contacter le propriétaire</button>
<% end %>
</div>
</div> 
</div> 

</div> 
