
<%@page_title = @ad.title%>

  
<div class="conte" >
<div class="container">
<div class="card my-4" >
<div class="card-body">
<%page_title = @page_title%>



     <div class="jumbo-layer"></div>
     <h1 class="display-3"><%=page_title%></h1>
     <div class="card-body">
   <h5 class="card-title"><%=@ad.title%></h5>
   <h6><%=@ad.date%></h6>
   <p class="card-text">
     <%=@ad.description%>
   </p>
     <p class="card-text">
     <%=@ad.adress%>
   </p>
     <p class="card-text">
     <%=@ad.zip_code%>
   </p>
     <p class="card-text">
     <%=@ad.phone%>
   </p>
 </div>

 <div class="form-group d-flex">
 <% if @ad.user == current_user %>
  <%=link_to 'modifier', edit_ad_path(@ad.id), class: 'btn-lg btn-primary'%>
  <%=link_to 'Supprimer', ad_path(@ad.id), method: 'delete', class: "btn-lg btn-danger", style: "margin-left: 1rem;"%>
  <% end %>
 </div>
 <%= link_to user_messages_path(@ad.user) do %>
  <button class="btn btn-primary btn-margin-top">Contacter le propriétaire</button>
<% end %>
</div>
</div> 
</div> 

</div> 
