<h3>Ma conversation avec <%= @friend.first_name %></h3>
  <% @messages.each do |message| %>
    <ul>
      <li><p><%= message.sender.first_name %> dit : <%= message.content %></p></li>
    </ul>
  <% end %>
<%= link_to 'Retour aux conversations', conversations_path %>

<%= simple_form_for [@friend, @message] do |f| %>
  <%= f.input :content %>
  <%= f.submit "Envoyer un message", class: "btn btn-primary" %>
<% end %>
