<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <br>
      <%= form_for resource, as: resource_name, url: registration_path(resource_name), html: { method: :put } do |f| %>
        <h1 class="h3 mb-3 font-weight-normal text-center">Editer mon profil</h1>
        <%= devise_error_messages! %>

        <div class="form-group">
          <%= f.label :email, "Email" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="form-group">
          <%= f.label :password, "Nouveau mot de passe" %>
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, "Confirmation mot de passe" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :current_password, "Mot de passe actuel" %>
          <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
        </div>

        <div class="actions mt-5">
          <%= f.submit "Editer mon profil", class: "btn btn-lg btn-primary btn-block" %>
        </div>
      <% end %>
      
    
      <div class="actions mt-5">
          <%= link_to "Supprimer mon compte", registration_path(resource_name), class: "nav-link btn btn-outline-danger", data: { confirm: "Etes-vous sûr(e) de vouloir supprimer votre compte?" }, method: :delete %>
      </div>

      
      
    </div>
  </div>
</div>


