<div class="container w-50 py-5 py-lg-7">

  <h2 class="my-5 text-center" > Editer mon profil </h2>

  <%= form_for @user do |f| %>

    <div class="form-group">
      <label>Prénom</label>
      <%= f.text_field :first_name, class: "form-control" %>
    </div>

    <div class="form-group">
      <label>Nom</label>
      <%= f.text_field :last_name, class: "form-control" %>
    </div>

    <div class="form-group">
    <label>Date de naissance</label>
    <%= f.date_field :date_of_birth, class: "form-control" %>
  </div>

  <div class="form-group">
      <label>Adresse complète</label>
      <%= f.text_area :address, class: "form-control" %>
   </div>

    
    <div class="form-group">

      <label>Code postal</label>

      <%= f.text_area :zip_code, class: "form-control" %>
    </div>

    <div class="form-group">
          <label>Ville</label>
         <%= f.select :city, city_list, {}, {required: 'true', autofocus: 'true', class: 'form-control'} %>
    </div>

  <div class="form-group">
    <label>Téléphone</label>
    <%= f.text_area :phone, class: "form-control" %>
  </div>

    <div class="form-group">
      <label>Email</label>
      <%= f.text_area :email, class: "form-control" %>
    </div>

    <div class="form-group">
    <label>Type</label>
    <%= f.select :classification, options_for_classification, {}, {required: 'true', autofocus: 'true', class: 'form-control'} %>
  </div>
    
    <div class="form-group">
      <button type="submit" class="btn btn-primary-css">Editer vos informations</button>
    </div>

  <% end %>  
  
</div>