<div class="container w-50">

  <h2 class="my-5 text-center" > Edit your profile </h2>

  <%= form_for @user do |f| %>

    <div class="form-group">
      <label>First name</label>
      <%= f.text_field :first_name, class: "form-control" %>
    </div>

    <div class="form-group">
      <label>Last name</label>
      <%= f.text_field :last_name, class: "form-control" %>
    </div>

    <div class="form-group">
    <label>date_of_birth</label>
    <%= f.date_field :date_of_birth, class: "form-control" %>
  </div>

  <div class="form-group">
      <label>Adress</label>
      <%= f.text_area :address, class: "form-control" %>
   </div>

    
    <div class="form-group">
      <label>Zip code</label>
      <%= f.text_area :zip_code, class: "form-control" %>
    </div>

    <div class="form-group">
          <label>City</label>
         <%= f.select :city, city_list, {}, {required: 'true', autofocus: 'true', class: 'form-control'} %>
    </div>

  <div class="form-group">
    <label>Phone</label>
    <%= f.text_area :phone, class: "form-control" %>
  </div>

    <div class="form-group">
      <label>Email</label>
      <%= f.text_area :email, class: "form-control" %>
    </div>

    <div class="form-group">
    <label>Type</label>
    <%= f.select :classification, options_for_classification, {}, {required: 'true', autofocus: 'true', class: 'form-control'} %>
  </div>
    
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Edit your informations</button>
    </div>

  <% end %>  
  
</div>