
<div class="container">

    <div class="row justify-content-center row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" style="background-image:url('<%= asset_path('volunteer.jpg') %>')"></svg>

          <div class="card-body">
          <h1>Devenir bénévole</h1>
            <p class="card-text">auprès de personnes en situation de handicap</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
              <%=link_to 'Voir les annonces', ads_path, class: 'btn btn-sm btn-primary' %>
              <%=link_to 'Poster une proposition', new_ad_path, class: 'btn btn-sm btn-outline-secondary' %>
              </div>
             
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" style="background-image:url('<%= asset_path('need.jpg') %>')" </svg>

          <div class="card-body">
          <h1>Trouver un bénévole</h1>
            <p class="card-text">pour vous accompagner dans votre quotidien </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
              <%=link_to 'Voir les annonces', ads_path, class: 'btn btn-sm btn-primary' %>
              <%=link_to 'Poster une demande', new_ad_path, class: 'btn btn-sm btn-outline-secondary' %>
              </div>
           
            </div>
          </div>
        </div>
      </div>
      
     </div>
</div>
