<!-- Footer -->
<footer class="bg-primary text-white">
    <!-- Grid container -->
    <div class="container p-3">
        <section class="">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <ul class="list-unstyled mb-0">
                        <li>
                            <%= link_to "Accueil", root_path , class:"text-white"%>                        
                        </li>
                        <li>
                            <%= link_to "Contact", "#" , class:"text-white"%>      
                        <li>
                            <%= link_to "Ressources et formations", new_training_path, class:"text-white"%>                        </li>
                        </li>                 
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <ul class="list-unstyled mb-0">
                        <li>
                            <%= link_to "Je propose mon aide", "#" , class:"text-white"%>                        </li>
                        </li>
                        <li>
                            <%= link_to "Je recherche un bénévole", "#" , class:"text-white"%>                        </li>
                        </li>
                        <li>
                            <%= link_to "Annonces", ads_path , class:"text-white"%>                        </li>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
                
            </div>
            <!--Grid row-->
        </section>
        <!-- Section: Links -->
    </div>
    <!-- Grid container -->
    <!-- Copyright -->
    <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 Copyright:
        <%= link_to "HANDSHAKE", "#" , class:"text-white"%>
    </div>
    <!-- Copyright -->
    </footer>
    <!-- Footer -->