<% if user_signed_in? %>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
    <nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">
         <img src="<%= asset_path( 'logo Handshake.png' ) %>" alt="IMG-LOGO" width="150" height="48"/>
      </a>
    </div>
  </nav>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Annonces</a>
          </li>
          <li class="nav-item">
          <%= link_to "Ressources", edit_user_registration_path, class:"nav-link active" %>
          </li>
          <li class="nav-item">
          <%= link_to "Contact", edit_user_registration_path, class:"nav-link active"  %>
          </li>
          <li class="nav-item">
            <%= link_to "Se déconnecter", destroy_user_session_path, class:"nav-link active", method: :delete %>
          </li>
          <li class="nav-item">            
              Voici ton email : <%= current_user.email %>
          </li>

          <li class="nav-item">
            <%= link_to "Secret page", static_pages_secret_path, class:"nav-link active" %>
          </li>

          <li class="nav-item">
            <%= link_to "Edit email / password", edit_user_registration_path, class:"nav-link active" %>
        </li>
        </ul>
        
      </div>
    </div>
    </nav>
    
    <% else %>

  
    <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
        <div class="container-fluid">
        <nav class="navbar navbar-light bg-secondary">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img src="<%= asset_path( 'logo Handshake.png' ) %>" alt="IMG-LOGO" width="150" height="48"/>
          </a>
        </div>
      </nav>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Annonces</a>
              </li>
              <%= link_to "Ressources", edit_user_registration_path, class:"nav-link active" %>
          </li>
            <li class="nav-item">
          <%= link_to "Contact", edit_user_registration_path, class:"nav-link active" %>
           </li>
              
            <li class="nav-item">
          <%= link_to "Se connecter", new_user_session_path, class:"nav-link active"%>
            </li>
              
            <li class="nav-item">
          <button class="btn btn-primary" type="submit"> <%= link_to "S'inscrire", new_user_registration_path, class:"nav-link active" %> </button>
            </li>
            </ul>

          </div>
        </div>
        </nav>


  <% end %>